body {
    margin: 0;
    padding: 0;
}
.table {
    border-spacing: 0;
    

}
[data-x] {
    width: 30px;
    height: 30px;
    border: 1px solid #000;
    background: #bdbebd;
    cursor: pointer;
}


[data-x].black {
    background: #000;
}


.clear-btn, .remove-btn {
    background: #bdbebd;
    border: none;
    border-radius: 8px;
    width: 345px;
    height: 50px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
    

}
